.vs/Qmall/v15/Server/sqlite3/storage.ide-wal
.vs/Qmall/v15/Server/sqlite3/storage.ide-shm
.vs/Qmall/v15/Server/sqlite3/storage.ide
.vs/Qmall/v15/Server/sqlite3/db.lock

.vs/Qmall/v15/sqlite3/storage.ide-wal
.vs/Qmall/v15/sqlite3/storage.ide-shm
.vs/Qmall/v15/sqlite3/db.lock
.vs/Qmall/v15/sqlite3/storage.ide
Qmall/obj/Debug/netcoreapp2.0/Qmall.pdb
Qmall/obj/Debug/netcoreapp2.0/Qmall.dll
Qmall/obj/Debug/netcoreapp2.0/Qmall.csproj.CoreCompileInputs.cache
Qmall/bin/Debug/netcoreapp2.0/Qmall.pdb
Qmall/bin/Debug/netcoreapp2.0/Qmall.dll
.vs/Qmall/v15/.suo
.vs/config/applicationhost.config
Qmall/obj/project.assets.json
Qmall/obj/Qmall.csproj.nuget.g.targets
Qmall/obj/Qmall.csproj.nuget.g.props
Qmall/obj/Qmall.csproj.nuget.cache
Qmall/obj/Debug/netcoreapp2.0/Qmall.csprojResolveAssemblyReference.cache
Qmall/obj/Debug/netcoreapp2.0/Qmall.csproj.FileListAbsolute.txt
Qmall/bin/Debug/netcoreapp2.0/Qmall.runtimeconfig.dev.json
Qmall/bin/Debug/netcoreapp2.0/Qmall.deps.json
Qmall/Properties/launchSettings.json
Qmall/wwwroot/lib/
