<div>
    <h3 id="footer-best-seller-products-loading">
        <img id="footerBestSeller-loading" src="~/images/ajax-facebook.gif" />
    </h3>
    <div id="footer-best-seller-products-container"></div>
    <script src="~/js/app/feature/footer-best-seller/footer-best-seller.js"></script>
</div>