<div class="contact-info">
    <div class="footer-logo">
        <img id="footer-logo" src="~/images/footer/footer-logo.svg" />
    </div><!-- /.footer-logo -->

    <p class="regular-bold"> Feel free to contact us via phone,email or just send us mail.</p>

    <p>
        Ruko Green Lake City Greatwall Blok B-67 <br />

        Kota Tangerang, Banten <br />

        Indonesia 15147 <br />

        Tel : 021-22524924 <br />

        Fax : 021-22524924 <br />
    </p>

    <div class="social-icons">
        <h3>Get in touch</h3>
        <ul>
            <li><a href="http://facebook.com/transvelo" class="fa fa-facebook"></a></li>
            <li><a href="#" class="fa fa-twitter"></a></li>
            <li><a href="#" class="fa fa-pinterest"></a></li>
            <li><a href="#" class="fa fa-linkedin"></a></li>
        </ul>
    </div>
</div>
