@using Qmall.Areas.Newsletter.ViewModels
@model NewsletterViewModel

<div class="container">
    <div class="row no-margin no-padding">
        <h1>Newsletter</h1>
    </div>
    <div class="row no-margin no-padding widgets-row">
        @foreach (var newsletter in Model.NewsletterList)
        {
            <div class="col-xs-12 col-sm-4 no-margin-left">
                <div class="widget">
                    <div class="body">
                        <ul>
                            <li>
                                <div class="row">
                                    <div class="col-xs-12 col-sm-9 no-margin">
                                        <a href="https://www.techinasia.com/ilotte-launch">@newsletter.newsletterDescription (Ini Hanyalah sebuah testing untuk unit responsive)</a>
                                        <p>@newsletter.newsletterDetail</p>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        }

    </div>
</div>