<section id="banner-holder" class="wow fadeInUp">
    <div class="container">
        <div id="myCarousel" class="carousel slide" data-ride="carousel">
            <!-- Wrapper for slides -->
            <div class="carousel-inner">
                <div class="item active">
                    <img src="~/images/sliders/slider-bot2.jpg" alt="Los Angeles">
                </div>

                <div class="item">
                    <img src="~/images/sliders/slider-bot3.jpg" alt="Chicago">
                </div>

                <div class="item">
                    <img src="~/images/sliders/slider-bot4.jpg" alt="New York">
                </div>
            </div>
        </div>
    </div>
</section>
