<div id="hero">
    <div id="owl-main" class="owl-carousel owl-inner-nav owl-ui-sm">
        <div class="item" style="background-image: url(../images/sliders/slider01.jpg);">
            <div class="container-fluid">
            </div>
        </div>
        <div class="item" style="background-image: url(../images/sliders/slider03.jpg);">
            <div class="container-fluid">
            </div>
        </div>
    </div>
</div>
