<div class="panel panel-default panel-account">
    <div class="panel-body panel-account-sign">
        <div class="account-panel">
            <ul>
                <li><i class="fa fa-2x fa-user-circle-o"></i><a href="#"> Sign In</a></li>
                <li><a href="#"> Register</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-heading panel-heading-order">
        <span>Quick Order / Quote</span>
    </div>
    <div class="panel-body panel-body-order">
        <div class="order-panel">
            <ul>
                <li><button class="btn btn-default"><i class="fa fa-file-text-o"></i> Quote</button></li>
                <li><button class="btn btn-default"><i class="fa fa-shopping-cart"></i> Order</button></li>
            </ul>
        </div>
        <div class="history-panel">
            <ul>
                <li><button class="btn btn-default"> Quote <br /> Records</button></li>
                <li><button class="btn btn-default"> Order <br /> Records</button></li>
            </ul>
        </div>
    </div>
    <div class="panel panel-default panel-track-order">
        <div class="panel-heading panel-heading-track-order">
            <span>Track Order</span>
        </div>
        <div class="panel-body panel-body-account">
            <input class="form-control" placeholder="Key in Your Order No." />
        </div>
    </div>
</div>
