<div>
    <h3 id="most-view-products-loading">
        <img id="topViewProducts-loading" src="~/images/ajax-facebook.gif" />
    </h3>
    <div id="most-view-products-container"></div>
    <script src="~/js/app/feature/top-view-products/top-view-products.js"></script>
</div>