<div class="panel panel-default">
    <div class="panel-body">
        <div class="col-xs-12 col-sm-12 col-md-12 home-brand-title">
            <div class="col-xs-6">
                <span class="pull-left top-brands-title">Top Brands</span>
            </div>
            <div class="col-xs-6 pull-right">
                <span class="pull-right top-brands-view"><a href="#">See All </a><i class="fa fa-angle-double-right"></i></span>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 home-brand-list">
            <ul>
                <li><img src="~/images/brands/logo-omron.png" /></li>
                <li><img src="~/images/brands/sunx.png" /></li>
                <li><img src="~/images/brands/Mitsubishi-Logo-PNG-Image.png" /></li>
                <li><img src="~/images/brands/smctraining_logo.png" /></li>
                <li><img src="~/images/brands/yamaha-logo.jpg" /></li>
                <li><img src="~/images/brands/Keyence.svg.png" /></li>
                <li><img src="~/images/brands/Panasonic_logo_(Blue).svg.png" /></li>
                <li><img src="~/images/brands/chelic.jpg" /></li>
                <li><img src="~/images/brands/logo-koganei1.png" /></li>
                <li><img src="~/images/brands/Patlite Logo.png" /></li>
            </ul>
        </div>
    </div>
</div>